@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Charm:wght@400;700&family=Lusitana:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Charm:wght@400;700&family=Edu+AU+VIC+WA+NT+Pre:wght@400..700&family=Lobster&family=Lusitana:wght@400;700&family=Tangerine:wght@400;700&display=swap');

@layer utilities {

    /* Hide scrollbar for Chrome, Safari and Opera */
    .no-scrollbar::-webkit-scrollbar {
        display: none;
    }

    /* Hide scrollbar for IE, Edge and Firefox */
    .no-scrollbar {
        -ms-overflow-style: none;
        /* IE and Edge */
        scrollbar-width: none;
        /* Firefox */
    }
}

html,
body {
    scroll-behavior: smooth
}

.background-image {
    background-image: url("../public/wall.avif");
    background-origin: border-box;
    background-repeat: no-repeat;
    background-position-x: center;
    background-size: cover;
    background-attachment: fixed;
    filter: brightness(40%);
    z-index: 0;
}

.show-arrow {
    animation-name: show-arrow;
    animation-duration: 0.2s;
}

.hide-arrow {
    display: none;
}

@keyframes show-arrow {
    from {
        transform: scale(0);
        opacity: 0;
    }

    to {
        transform: scale(1);
        opacity: 1;
    }
}

.skillbar {
    animation: skillbar;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
}

@keyframes skillbar {
    from {
        opacity: 0;
        transform: translateX(-20%);
    }

    to {
        opacity: 100%;
        transform: translateX(0);
    }
}







@keyframes scroll {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(calc(-300px * 7))
    }
}



.slider {
    background: white;
    box-shadow: 0 10px 20px -5px rgba(0, 0, 0, .125);
    height: 260px;
    margin: auto;
    overflow: hidden;
    position: relative;
    width: 85%;

    .slide-track {
        animation: scroll 15s linear infinite;
        display: flex;
        width: calc(300px * 14);
    }

}

.show-modal {
    animation: show-modal 0.5s ease-in-out;
}



@keyframes show-modal {
    0% {
        transform: scale(0)
    }

    60% {
        transform: scale(1.2);
    }

    80% {
        transform: scale(0.8);
    }

    100% {
        transform: scale(1);
    }
}

.feature {
    overflow: auto;
    transition: all 1s linear;
}

.hide-feature {
    height: 0;
    overflow: hidden;
}